{% extends 'base.html.twig' %}
{% block title 'agence paradiso' %}
{% block body %}
<div class="jumbotron text-center">

<div class="container"><center>
<h2>HOTELS EN TUNISIE</h2>
    <div class="row flex">
        {% for proporty in proporties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">{{ proporty.title }}</a>
                    </h5>
                    <div class="card-text">
                    {{ proporty.description }}
                    <div class="text-primary">{{ proporty.tarif }}
                    </div>
                    </div>
                </div>
            </div>
        </diV>
        {% endfor %}
    </div>
    <div class="container"><center>
<h2>HOTELS EN TUNISIE</h2>
    <div class="row flex">
        {% for proporty in proporties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">{{ proporty.title }}</a>
                    </h5>
                    <div class="card-text">
                    {{ proporty.description }}
                    <div class="text-primary">{{ proporty.tarif }}
                    </div>
                    </div>
                </div>
            </div>
        </diV>
        {% endfor %}
    </div>
    </div>
{% endblock %}