
    {{ form_start(form) }}
    <dic class="row">
        <div class="col-md-5">{{ form_row(form.title )}}</div>
        <div class="col-md-5">{{ form_row(form.id_hotel )}}</div>
   
             <div class="col-md-7">{{ form_row(form.description )}}</div>
        <div class="col-md-4">{{ form_row(form.Surface )}}</div>
        <div class="col-md-4">{{ form_row(form.capacite )}}</div>
               <div class="col-md-2">{{ form_row(form.Tarif )}}</div>
           <button class="btn btn-warning">{{ button|default    ('Enregistrer')     }}</button>
     </div>

    {{ form_widget(form) }}
 
    {{ form_end(form) }}
</div>



