{% extends 'base.html.twig' %}
{% block title 'Gerer les hotels' %}
{% block body %}

    <div class="container mt-4">
    <h1> Gérer les hôtels</h1>
    {% for message in app.flashes('success')%}
    <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
        <tr>
        <th>Titre</th>
        <th>Actions</th>
        </tr>
        </thead>
            <tbody>
             {% for proporty in proporties %}
            <tr>
                <td>{{ proporty.NomHotel }}</td>
                <td><a href="{{ path('admin.proporty.edit' , {id: proporty.id}) }}" class="btn btn-secondary">Editer</a>
                <form method="post"action="{{ path('admin.proporty.delete' , {id: proporty.id}) }}" style="display: inline-block" 
                onsubmit="return confirm('Etes vous vraiment sur?') ">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proporty.id)}}">
                <button class="btn btn-danger">Supprimer</button>
                </form>
                </td>
            </tr>
            
        {% endfor %}
            </tbody>
    </table>
    <div class="text-right">
    <a href="{{ path('admin.proporty.new') }}" class="btn btn-primary">Créer un nouveau hôtel</a> 
    </div>
    </div>
       
   
{% endblock %}
